/* src/App.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: black;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.container {
  width: 400px;
  margin-top: 50px;
}

h1 {
  text-align: center;
  color:white;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 16px;
  color: black;
}
/* App.css */

.app-container {
  font-family: 'Arial', sans-serif;
  background-color: #000; /* Black background */
  padding: 20px;


}

.task-list {
  list-style-type: none;
  padding: 0;
  
}
.task-text{
  color: white;
}

.task-item {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid whitesmoke;
  background-color: #000;
  color:white ; /* Set the text color to black */
  cursor: pointer;
}

.task-item:hover {
  background-color: #f0f0f0;
}

.delete-button{
background-color: red;
}

.completed {
  text-decoration: line-through;
  color: blue; /* Color for completed tasks */
}


